{% extends "gamePart/base.html" %}

{% block title %}GoMoKu - Play Game{% endblock %}

{% block external %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/game.css") }}">
{% endblock %}

{% block content %}
    <div class="container">
<div class="tables-container">
    <table id="userTable">
        <tr>
            <td id="user1Name">Tentative First：{{ user1Name }}</td>
        </tr>
    </table>
    <table id="userTable">
        <tr>
            <td id="user2Name">Tentative Second：{{ user2Name }}</td>
        </tr>
    </table>
</div>
<div class="game-table-container">
    <table id="systemTable">
        <tr>
            <td id="systemMsg">GoMoKu Swap2</td>
        </tr>
    </table>
    <table id="Room">
        <tr>
             <td>Room Number: {{ roomId.split('_')[0] }}</td>
        </tr>
    </table>
    <table id="gameTable">
        <tbody>
        {% for i in range(10) %}
            <tr>
                {% for j in range(10) %}
                    <td class="gameCell">
                        <img id="cell-{{ i }}-{{ j }}" src="{{ url_for("static", filename="img/background.png") }}"
                             alt="" onclick="playOnePiece(this)">
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    </div>

    <!-- 第一阶段结束假后方选择 -->
    <div id="tentative_second_choosing_dialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tentative Second Choose</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="chooseBlack(true)">Choose Black</button>
                    <button type="button" class="btn btn-primary" onclick="chooseBlack(false)">Choose White</button>
                    <button type="button" class="btn btn-primary" onclick="choosePhase2()">Place two stones and let the other player choose.</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Phase 2 over, tentative first choose. -->
    <div id="tentative_first_choosing_dialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tentative First Choose</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="chooseBlack(true)">Choose Black</button>
                    <button type="button" class="btn btn-primary" onclick="chooseBlack(false)">Choose White</button>
                </div>
            </div>
        </div>
    </div>

    <div id="wait_choosing_dialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Waiting for opponent choice</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Draw Request Modal -->
    <div id="confirmDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Draw Request</h4>
                </div>
                <div class="modal-body" style="text-align: center">
                    <p>Do you accept the opponent's draw request?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="rejectApply()">Reject</button>
                    <button type="button" class="btn btn-primary" onclick="acceptApply()">Accept</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Rejected Modal -->
    <div id="infoDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Request Rejected</h4>
                </div>
                <div class="modal-body">
                    <p>We are sorry, your draw request has been rejected by the opponent, please continue the game.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="confirmReject()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Opponent Disconnected Modal -->
    <div id="timeoutDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Opponent Disconnected</h4>
                </div>
                <div class="modal-body">
                    <p>We are sorry, your opponent has disconnected, you can rejoin the game.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="confirmTimeout()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("logout").disabled = true;

        const userId = {{ userId }};
        const roomId = "{{ roomId }}";
        let CanMove = false;

        // 返回用户中心
        function toUserCenter() {
            socket.emit("leave", {"roomId": roomId});
            socket.close();
            const form = document.createElement("form");
            form.method = "POST";
            form.action = "/userCenter";
            const input = document.createElement("input");
            input.type = "hidden";
            input.name = "userId";
            input.value = userId;
            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();
        }

        // 请求和局
        function applyDraw() {
            socket.emit("applyDraw", {"roomId": roomId, "userId": userId});
        }

        function acceptApply() {
            socket.emit("acceptApply", {"roomId": roomId});
            $("#confirmDialog").modal("hide");
        }

        function rejectApply() {
            socket.emit("rejectApply", {"roomId": roomId, "userId": userId});
            $("#confirmDialog").modal("hide");
        }

        function confirmReject() {
            $("#infoDialog").modal("hide");
        }

        function confirmTimeout() {
            $("#timeoutDialog").modal("hide");
        }

        // 下棋
        function playOnePiece(imgElement) {
            if (CanMove) {
                socket.emit("move", {"place": imgElement.id, "roomId": roomId, "userId": userId});
                CanMove = false
            }
        }

        function chooseBlack(IsBlack) {
            // IsBlack == true means choosing black or false means choosing white.
            socket.emit("chooseBlack", {"roomId": roomId, "userId": userId, "IsBlack": IsBlack})
        }

        function choosePhase2() {
            socket.emit("choosePhase2", {"roomId": roomId, "userId": userId})
        }


        $(document).ready(function () {
            const span = $("<span></span>").text("{{ userName }}");
            let sendHeartbeat = true;
            document.getElementById("logout").classList.add("disabled");
            $(".navbar-text").prepend(span);

            // 初始化游戏
            socket.on("connect", function () {
                socket.emit("start", {"userId": userId, "roomId": roomId});
                setInterval(function() {
                    // 定时发送心跳包，检测掉线情况
                    if (sendHeartbeat) {
                        socket.emit("heartbeat", {"roomId": roomId, "userId": userId});
                    }
                }, 1000);
            });

            //Update the chess board.
            socket.on("updateBoard", function (data) {
                // Clear dialog
                if ("clear" in data) {
                    $('#tentative_second_choosing_dialog').modal('hide');
                    $('#tentative_first_choosing_dialog').modal('hide');
                    $('#wait_choosing_dialog').modal('hide');
                }
                // Update chess
                if ("place" in data) {
                    const imgElement = document.getElementById(data["place"]);
                    if (data["IsBlack"]) {
                        imgElement.src = "{{ url_for("static", filename="img/blackStone.png") }}";
                    } else {
                        imgElement.src = "{{ url_for("static", filename="img/whiteStone.png") }}";
                    }
                }
                // Update board msg.
                if ("msg" in data) {
                    const sysMsg = document.getElementById("systemMsg");
                    sysMsg.textContent = data["msg"];
                }
                // Update user msg.
                if ("user1_msg" in data && "user2_msg" in data ) {
                    const user1Msg = document.getElementById("user1Name");
                    const user2Msg = document.getElementById("user2Name");
                    user1Msg.textContent = data["user1_msg"];
                    user2Msg.textContent = data["user2_msg"];
                }
                // Update now player.
                if ("id" in data) {
                    const sysMsg = document.getElementById("systemMsg");
                    if (userId === data["id"]) {
                        CanMove = true;
                        sysMsg.textContent += "，My turn";
                    }
                    else {sysMsg.textContent += "，Opponent's turn";}

                }
            });

            socket.on("phase1Choose", function (data) {
                const sysMsg = document.getElementById("systemMsg");
                sysMsg.textContent = data["msg"];
                if (userId === data["id"]) {
                    $('#tentative_second_choosing_dialog').modal('show');
                } else {
                    $('#wait_choosing_dialog').modal('show');
                }
            })

            socket.on("phase2Choose", function (data) {
                const sysMsg = document.getElementById("systemMsg");
                sysMsg.textContent = data["msg"];
                if (userId === data["id"]) {
                    $('#tentative_first_choosing_dialog').modal('show');
                } else {
                    $('#wait_choosing_dialog').modal('show');
                }
            })

            // 游戏结束
            socket.on("GameOver", function (data) {
                sendHeartbeat = false;
                const sysMsg = document.getElementById("systemMsg");
                if (data === userId) {
                    sysMsg.textContent = "WIN"
                }
                else {
                    sysMsg.textContent = "LOSE"
                }
                const welcome = document.getElementById("welcome");
                welcome.innerHTML = "<button class='btn btn-danger' onclick='toUserCenter()'>Return to User Center</button>";
            });

            // 进行和局
            socket.on("draw", function () {
                const welcome = document.getElementById("welcome");
                welcome.innerHTML = "<button class='btn btn-info text-white' onclick='applyDraw()'>Apply Draw</button>";
            });

            // 接受和局请求
            socket.on("apply", function (data) {
                if (data["userId"] !== userId) {
                    $('#confirmDialog').modal('show');
                }
            });

            // 双方和局
            socket.on("drawn", function () {
                CanMove = false;
                document.getElementById("systemMsg").textContent = "Both sides agree to a draw";
                const welcome = document.getElementById("welcome");
                welcome.innerHTML = "<button class='btn btn-danger' onclick='toUserCenter()'>Return to User Center</button>";
            });

            // 拒绝和局
            socket.on("rejected", function (data) {
                if (data["userId"] !== userId) {
                    $("#infoDialog").modal("show");
                }
            });

            // 对方掉线
            socket.on("timeout", function() {
                $("#timeoutDialog").modal("show");
                CanMove = false;
                sendHeartbeat = false;
                document.getElementById("systemMsg").textContent = "Opponent Disconnected";
                const welcome = document.getElementById("welcome");
                welcome.innerHTML = "<button class='btn btn-danger' onclick='toUserCenter()'>Return to User Center</button>";
                socket.emit("leave", {"roomId": roomId});
            });
        });
    </script>
{% endblock %}